%h2 Import People
= render 'shared/form', route: import_people_path

%h2
  = link_to "Main Page", root_path

%p
  = link_to "Person Table", person_all_people_path
%p
  = link_to "Education Table", education_form_people_path
%p
  = link_to "Rector Table", rector_people_path
%p
  = link_to "Faculty Table", faculty_people_path
