%h1 students
%p
  Download:
  = link_to "CSV", students_path(format: "csv") |
  = link_to "Excel", students_path(format: "xls")
%table#students
  %tr
    %th N#
    %th Initials
    %th Department
    %th Study Type
    %th Appointment
  - @students.each_with_index do |student, i|
    %tr
      %td= i+1
      %td= student.initials
      %td= student.department
      %td= student.study_type
      %td= student.appointment
      -#%td= student.released_on.strftime("%B %e, %Y")
      -#%td= number_to_currency(student.price)
%h2 Import students
= form_tag import_students_path, multipart: true do
  = file_field_tag :file
  = submit_tag "Import"


= link_to 'files', find_files_students_path, method: :post
