= render 'shared/welcome'
%h2 Table For Aspirants
%table#people.bordered.zebra
  %tr
    %th N#
    %th Initials
    %th faculty_name
    %th with_separation
    %th code_and_name_of_the_speciality
    %th Person ID
  - @people.each_with_index do |person, i|
    %tr
      %td= person.id
      %td= person.initials
      %td= person.faculty_name
      %td= person.with_separation
      %td= person.code_and_name_of_the_speciality
      %td= person.person_id
= will_paginate @people


