= render 'shared/welcome'
%table#people.bordered.zebra
  %tr
    %th N#
    %th Initials
    %th Education Form
    %th Person ID
  - @form_of_education.each_with_index do |person, i|
    %tr
      %td= person.id
      %td= person.initials
      %td= person.education_form
      %td= person.person_id
= will_paginate @form_of_education
