= render 'shared/welcome'
%table#people.bordered.zebra
  %tr
    %th N#
    %th Initials
    %th Kvalifikaciya
    %th Nazva
    %th Specialnist
    %th Person ID
  - @faculty.each_with_index do |person, i|
    %tr
      %td= person.id
      %td= person.initials
      %td= person.kvalifikaciya
      %td= person.faculty_name
      %td= person.specialnist
      %td= person.person_id
= will_paginate @faculty


