= render 'shared/welcome'
%h2 Table For Graduated Students
%table#people.bordered.zebra
  %tr
    %th N#
    %th Initials
    %th specialnist
    %th Faculty_name
    %th study_type
    %th qualification
    %th nakaz_rektora
    %th search_archive_data
    %th Person Id
  - @graduated_students.each_with_index do |person, i|
    %tr
      %td= person.id
      %td= person.initials
      %td= person.specialnist
      %td= person.faculty_name
      %td= person.study_type
      %td= person.qualification
      %td= person.nakaz_rektora
      %td= person.search_archive_data
      %td= person.person_id
= will_paginate @graduated_students


