= render 'shared/welcome'
%h2 Table For JoinTable
%table#people.bordered.zebra
  %tr
    %th N#
    %th Initials
    %th Appointment
    %th qualification
    %th Peron ID
  - @join_table.each_with_index do |person, i|
    %tr
      %td= person.id
      %td= person.initials
      %td= person.appointment
      %td= person.qualification
      %td= person.person_id
= will_paginate @join_table


