= render 'shared/welcome'
%h2 Table For Students
%table#people.bordered.zebra
  %tr
    %th N#
    %th Initials
    %th Department
    %th Faculty_name
    %th Appointment
  - @students.each_with_index do |person, i|
    %tr
      %td= person.id
      %td= person.initials if person.initials
      %td= person.department
      %td= person.faculty_name
      %td= person.appointment
= will_paginate @students


