= render 'shared/welcome'
%table#people.bordered.zebra
  %tr
    %th N#
    - if @students.first.initials.present?
      %th Initials
    %th Department
    %th Faculty_name
    %th Appointment
    %th Person Id
  - @students.each_with_index do |person, i|
    %tr
      %td= person.id
      %td= person.initials
      %td= person.department
      %td= person.faculty_name
      %td= person.appointment
      %td= person.person_id
= will_paginate @students


