= render 'shared/welcome'
%h2 Table For Students
%table#people.bordered.zebra
  %tr
    %th N#
    %th Initials
    %th Person ID
  - @students.each_with_index do |person, i|
    %tr
      %td= person.id
      %td= person.initials
      %td= person.person_id
= will_paginate @students


