= render 'shared/welcome'
%h2 Table For Students
%table#people.bordered.zebra
  %tr
    %th N#
    %th Initials
    %th Study_Type
    %th Faculty_name
    %th Nakaz_rektora
  - @students.each_with_index do |person, i|
    %tr
      %td= person.id
      %td= person.initials if person.initials
      %td= person.study_type
      %td= person.faculty_name
      %td= person.nakaz_rektora
= will_paginate @students


