%table.bordered
  %tr
    %th
      = link_to "Students Table", students_table_uploads_path
    %th
      = link_to "Graduated Students Table", graduated_students_table_uploads_path
    %th
      = link_to "Person Table", person_all_uploads_path
    %th
      = link_to "Education Table", education_form_uploads_path
    %th
      = link_to "Rector Table", rector_uploads_path
    %th
      = link_to "Faculty Table", faculty_uploads_path
