.table_row
  .table_link
    = link_to "Person Table", person_all_uploads_path
  .table_link
    = link_to "Students Table", students_table_uploads_path
  .table_link
    = link_to "Exclusion Student Table", exclusion_table_uploads_path
  .table_link
    = link_to "Renovation Student Table", renovation_student_table_uploads_path
  .table_link
    = link_to "Refresh Course Table", refresh_course_table_uploads_path
  .table_link
    = link_to "Transfer Student Table", transfer_student_table_uploads_path
  .table_link
    = link_to "Enrolled Student Table", enrolled_student_table_uploads_path
  .table_link
    = link_to "Diploma Table", diploma_table_uploads_path
  .table_link
    = link_to "Graduates Student Table", graduates_student_table_uploads_path
  .table_link
    = link_to "Aspirant Table", aspirant_table_uploads_path
.table_row
  .table_link
    = link_to "Enrolled Aspirant Table", enrolled_aspirant_table_uploads_path
  .table_link
    = link_to "Exlusion Aspirant Table", exclusion_aspirant_table_uploads_path
  .table_link
    = link_to "Student IPO Table", student_ipo_table_uploads_path
  .table_link
    = link_to "Enrolled Student IPO Table", enrolled_student_ipo_table_uploads_path
  .table_link
    = link_to "Exlusion Student IPO Table", exclusion_student_ipo_table_uploads_path
  .table_link
    = link_to "Worker NDCH Table", worker_ndch_table_uploads_path
  .table_link
    = link_to "Enrolled worker NDCH Table", enrolled_worker_ndch_table_uploads_path
  .table_link
    = link_to "Exlusion worker NDCH Table", exclusion_worker_ndch_table_uploads_path
  .table_link
    = link_to "Transfer to new theme worker NDCH Table", transfer_worker_ndch_table_uploads_path
