!!!
%html
  %head
    %title XLS Import
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:class => "#{controller_name} #{action_name}"}
    .navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            .center_in_row
              = render 'layouts/messages'
              = yield
          %footer

:javascript
  $('a.close').on('click', function(){
    $(this).parent('div').slideUp('slow');
  })
